#header {
    height: fit-content;
    background-color: rgba(62, 115, 228, 0.724);
  }

#header-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    direction: rtl;
}

.header-text {
    color: black;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.clock-text {
    color: black;
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
}

.left-position {
    justify-self: end;
    margin-left: 1%;
}

.right-position {
    margin-right: 1%;
}
