html, body, article {
  background: var(--bgColor);
  font-family: 'DS-DIGI', sans-serif;
  height: 100%;
}

.container {
    height: 100%;
    width: 50%;
    float: center ;
    position: absolute;
    left: 25%;
    margin-top: 10%;
}

.text-item {
    padding: 10px;
    /* border: 1px solid green; */
    height: 100%;
    width: 100%;
    border-radius:25px;
    -moz-border-radius:25px; 
    -moz-box-shadow:    1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    /* box-shadow:         1px 2px 2px 2px #ccc; */
}

.my-text {
    color: black;
    font-size: 3vw;
    text-align: center;
    vertical-align: center;

}

.hidden_element{
    display: none;
}

.main-bg {
  background: url(../images/mishkan-tkiya.JPG) no-repeat center center fixed;
  background-size: cover;
}

  .oval {
    height: 80px;
    background: rgb(88, 232, 78);
    border-radius: 40px;
  }

  .circle {
    width: 100px;
    height: 100px;
    line-height: 80px;
    border-radius: 50%;
    background: rgb(137, 11, 247);
  }
  
  .clock {
    width: 100%;
    text-align: center;
  }

  .my-div {
    height: 100%;
  }

  h1 {
    font-size: 15vh;
  }