html, body, article {
  background: var(--bgColor);
  font-family: 'DS-DIGI', sans-serif;
  height: 100vh;
}

#main-div {
  height: 70%;
}

.container {
    height: 100%;
    width: 50%;
    position: relative;
    align-items: center;
    margin-top: 3%;
}


.text-item {
    padding: 10px;
    /* border: 1px solid green; */
    height: 100%;
    width: 100%;
    border-radius:25px;
    /* box-shadow:         1px 2px 2px 2px #ccc; */
}

.page-title {
  color: red;
  font-size: 7vw;
  text-align: center;
  font-weight: bold;
  margin: 10px auto;
  border-radius: 10px;
  width: fit-content;
  padding: 0px 10px;
  background-color: rgba(30, 77, 219, 0.815);
}

.my-text {
    color: black;
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
    vertical-align: center;

}

.hidden_element{
    display: none;
}

.main-bg {
  background: url(../images/mishkan-tkiya.JPG) no-repeat center center fixed;
  background-size: cover;
}

  .oval {
    height: 100%;
    width: fit-content;
    /* background: rgba(62, 115, 228, 0.724); */
    border-radius: 40px;
  }

  .circle {
    width: 100px;
    height: 100px;
    line-height: 80px;
    border-radius: 50%;
    background: rgb(137, 11, 247);
  }
  
  .clock {
    width: 100%;
    text-align: center;
  }

  .my-div {
    height: 100%;
  }

  h1 {
    font-size: 15vh;
  }