.scroll-container {
  height: 100vh;
  overflow: hidden;
}

.scroll-text {
  padding-top: 100vh;
  padding-bottom: 100vh;
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 20s linear;
}

@keyframes my-animation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(calc(-100% + 100vh));
  }
}