html {
    background-color: black;
}

#main-div {
  height: 100%;
}
.my-div {
    height: 100%;
  }

h1 {
    font-size: 15vh;
  }

#header {
    height: 20vh;
    font-size: 20vh;
    font-weight: bold;
}

.main-bg {
    background: url(../images/IMG-20220816-WA0010.jpg) no-repeat center center fixed;
    background-size: cover;
  }