.tfilot-grid {
    display: grid;
    column-gap: 5vw;
    background-color: transparent;
    color: #444;
    direction: rtl;
    margin-top: 20px;
}

.shabat-grid {
    display: grid;
    background-color: transparent;
    color: #444;
    direction: rtl;
    margin-top: 20px;
}

.tfilot-weekdays-grid{
    grid-template-columns: repeat(3, 1fr);
}

.tfilot-shabat-grid{
    grid-template-columns: repeat(4, 1fr);
}

.tfilot-shabat-grid-horizontal{
    grid-template-columns: repeat(2, max-content);
}

.grid-header-box {
    background-color: rgba(30, 77, 219, 0.815);
    color: white;
}

.grid-body-box {
    background-color: var(--default-text-background-color);
    color: black;
}

.grid-box {
    padding: 5px;
    text-align: center;
  }

.grid-box-right {
    padding: 5px;
    padding-left: 20px;
    text-align: right;
  }