.tfilot-grid {
    display: grid;
    column-gap: 5vw;
    background-color: transparent;
    color: #444;
    direction: rtl;
    margin-top: 20px;
}

.shabat-grid {
    display: grid;
    background-color: var(--default-text-background-color);
    color: #444;
    direction: rtl;
    width: 100%;
    margin-right: 1%;
    column-gap: 1vw;
}

.tfilot-weekdays-grid{
    grid-template-columns: repeat(3, 1fr);
}

.tfilot-shabat-grid{
    grid-template-columns: repeat(4, 1fr);
}


.tfilot-shabat-grid-horizontal{
    grid-template-columns: max-content 1fr;
}

.two-column-grid-equal{
    display: grid;
    direction: rtl;
    width: 100%;
    column-gap: 1vw;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.two-column-grid-left-side{
    display: grid;
    direction: rtl;
    width: 100%;
    column-gap: 1vw;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
}

.column-of-grid{
    background-color: var(--default-text-background-color);   
}

.inline-table-header{
}

.grid-header-box {
    background-color: rgba(30, 77, 219, 0.815);
    color: white;
}

.grid-title-margin{
    margin-top: 1vh;
}

.grid-body-box {
    background-color: var(--default-text-background-color);
    color: black;
}

.grid-box {
    padding: 5px;
    text-align: center;
  }

.grid-box-right {
    padding: 5px;
    text-align: right;
  }